/* line 2, static/site/sass/base.scss */
.padding-0 {
  padding: 0; }

/* line 6, static/site/sass/base.scss */
.left {
  float: left; }

/* line 10, static/site/sass/base.scss */
.right {
  float: right; }

/* line 15, static/site/sass/base.scss */
.navbar .navbar-brand {
  color: white;
  font-weight: bold; }

/* line 19, static/site/sass/base.scss */
.navbar .icon-menu {
  display: none;
  float: right;
  position: absolute;
  top: 8px;
  right: 17px;
  font-size: 25px;
  color: white; }

/* line 29, static/site/sass/base.scss */
.navbar .nav-menu li > a.active {
  background-color: #2b669a; }

/* line 36, static/site/sass/base.scss */
#myCarousel .slide-img {
  width: 100%; }

@media only screen and (max-width: 768px) {
  /* line 43, static/site/sass/base.scss */
  .navbar .icon-menu {
    display: block; }
  /* line 46, static/site/sass/base.scss */
  .navbar .nav-menu {
    display: none; }
  /* line 50, static/site/sass/base.scss */
  #myCarousel {
    margin-top: 51px; } }
