/* line 2, static/site/sass/base.scss */
.padding-0 {
  padding: 0; }

/* line 7, static/site/sass/base.scss */
.navbar .navbar-brand {
  color: white;
  font-weight: bold; }

/* line 11, static/site/sass/base.scss */
.navbar .icon-menu {
  display: none;
  float: right;
  position: absolute;
  top: 8px;
  right: 17px;
  font-size: 25px;
  color: white; }

/* line 21, static/site/sass/base.scss */
.navbar .nav-menu li.active {
  background-color: #2b669a; }

/* line 28, static/site/sass/base.scss */
#myCarousel .slide-img {
  width: 100%; }

@media only screen and (max-width: 600px) {
  /* line 35, static/site/sass/base.scss */
  .navbar .icon-menu {
    display: block; }
  /* line 38, static/site/sass/base.scss */
  .navbar .nav-menu {
    display: none; }
  /* line 42, static/site/sass/base.scss */
  #myCarousel {
    margin-top: 51px; } }
